*
{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
}

section
{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container
{
    height: 300px;
    width: 550px;
    border: 1.7px solid #000;
    border-radius: 17px;
    display: flex;
}

#left
{
    height: 100%;
    width: 275px;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    border-right: 1.7px solid#000;
}

#login_Register
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#master_title
{
    position: absolute;
    margin-top: 17px;
    font-family: 'poppins',sans-serif;
}

#input_toggle
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 275px;
    border-bottom-left-radius: 17px;
}

#indicator
{
    font-family: 'poppins',sans-serif;
    font-size: 13px;
    color: #000;
}

#input_div
{
    width: 275px;
}

input[type="email"],[type="password"],[type="submit"], #indicator, #master_title, #subscribe
{   
    margin: 0 17px;
}

input[type="submit"]
{
    height: 27px;
    background: #000;
    color: #fff;
    border-radius: 7px;
    font-family: 'poppins',sans-serif;
    cursor: pointer;
}

input[type="email"],[type="password"]
{
    width: 239px;
    margin-right: 0;
    height: 27px;
    padding-left: 3px;
    border: 1px solid;
    border-radius: 7px;
}

#subscribe
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -7px;
    font-size: 12.3px;
    font-family: 'poppins',sans-serif;
    color: #777;
}

#SUBSCRIBE_BUTTON
{
    cursor: pointer;
}

input[type="submit"]:active
{
    background-color: #333;
}

#right
{
    width: 100%;
    border-top-right-radius: 20.8px;
    border-bottom-right-radius: 20.7px;
    background-image: url(kz.png);
    zoom: 0.7;
    margin: 0px 0px 0px 0;
}

#bottom
{
    width: 550px;
    margin-top: 3px;
    padding: 0 5.1px 0 5.1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#bottom a
{
    text-decoration: none;
    font-family: 'poppins',sans-serif;
    font-size: 13.7px;
    color: #777;
}